<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.vanderbilt.edu/isis/midas/Syntheto"
			class = "edu.vanderbilt.isis.midas.syntheto.SynthetoPackage"
			genModel = "model/generated/Syntheto.genmodel" />
	</extension>
</plugin>
